<app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row align-items-start">
      <h4 class="text-center">Fashion.</h4>
      <div class="col d-flex justify-content-evenly cards">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Male White Collared Shirt</h5>
            <p class="card-text"><b>Price:</b> Ksh. 1000/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div>  
      </div>
      <div class="col d-flex justify-content-evenly cards">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Floral dresses</h5>
            <p class="card-text"><b>Price:</b> Ksh. 700/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div> 
      </div>
      <div class="col d-flex justify-content-evenly cards">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">6 Plain T-shirts set</h5>
            <p class="card-text"><b>Price:</b> Ksh. 2000/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div> 
      </div>
      <div class="col d-flex justify-content-evenly cards">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nike running shoes 2019</h5>
            <p class="card-text"><b>Price:</b> Ksh. 5800/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div>  
      </div>
      <div class="col d-flex justify-content-evenly cards">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blazers</h5>
            <p class="card-text"><b>Price:</b> Ksh. 2500/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div> 
      </div>
      <div class="col d-flex justify-content-evenly cards">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Uncover Sheet Mask</h5>
            <p class="card-text"><b>Price:</b> Ksh. 125/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div> 
      </div>
      <div class="col d-flex justify-content-evenly cards">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Garnier Charcoal Mask</h5>
            <p class="card-text"><b>Price:</b> Ksh. 895/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div> 
      </div>

    </div>
  </div>
<app-footer></app-footer>
