<app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row align-items-start">
      <h4 class="text-center">Electronics.</h4>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lenovo Thinkpad</h5>
            <p class="card-text"><b>Price:</b> Ksh. 45,000/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div>  
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Samsung S22</h5>
            <p class="card-text"><b>Price:</b> Ksh. 125,000/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div> 
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hi-Sense Dish Washer</h5>
            <p class="card-text"><b>Price:</b> Ksh. 87,000/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div> 
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">LG Washing Machine</h5>
            <p class="card-text"><b>Price:</b> Ksh. 92,000/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div>  
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tecno Camon 19</h5>
            <p class="card-text"><b>Price:</b> Ksh. 72,000/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div> 
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">MacBook Pro Air</h5>
            <p class="card-text"><b>Price:</b> Ksh. 210,000/=</p>
            <a href="#" class="btn d-flex justify-content-center">Order</a>
          </div>
        </div> 
      </div>
    </div>
  </div>
<app-footer></app-footer>
