<app-navbar></app-navbar>
  <div class="container-fluid">
    <!--electronics-->   
    <div class="row align-items-start">
      <h4 class="text-center">Electronics.</h4>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Computer Accesories</h5>
            <a href="#" class="btn d-flex justify-content-center">See more</a>
          </div>
        </div>  
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Smartphones</h5>
            <a href="#" class="btn d-flex justify-content-center">See more</a>
          </div>
        </div> 
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/electronics1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Appliances</h5>
            <a href="#" class="btn d-flex justify-content-center">See more</a>
          </div>
        </div> 
      </div>

      <!--home products-->
      <h4 class="text-center">Home Products.</h4>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/homep1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Detergents</h5>
            <a href="#" class="btn d-flex justify-content-center">See more</a>
          </div>
        </div>  
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/homep2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Food stuff</h5>
            <a href="#" class="btn d-flex justify-content-center">See more</a>
          </div>
        </div> 
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/homep3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cutlery</h5>
            <a href="#" class="btn d-flex justify-content-center">See more</a>
          </div>
        </div> 
      </div>

      <!--fashion-->
      <h4 class="text-center">Fashion.</h4>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/fashion3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Women</h5>
            <a href="#" class="btn d-flex justify-content-center">See more</a>
          </div>
        </div>  
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/fashion2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Men</h5>
            <a href="#" class="btn d-flex justify-content-center">See more</a>
          </div>
        </div> 
      </div>
      <div class="col d-flex justify-content-evenly">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/fashion1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Children</h5>
            <a href="#" class="btn d-flex justify-content-center">See more</a>
          </div>
        </div> 
      </div>
      
    </div>      
  </div>
<app-footer></app-footer>